################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SplitExcel/SplitExcel.Repositories/bin/Debug
/SplitExcel/SplitExcel.Repositories/obj/Debug
/SplitExcel/SplitExcel.Service/bin/Debug
/SplitExcel/SplitExcel/obj/Debug
/SplitExcel/SplitExcel.Service/obj/Debug
/SplitExcel/SplitExcel.WPF/bin/Debug
/SplitExcel/SplitExcelTool/obj/Debug
/SplitExcel/SplitExcel.WPF/obj/Debug
/SplitExcel/.vs/SplitExcel/v15/Server/sqlite3/db.lock
/SplitExcelTool/packages
/SplitExcelTool/SplitExcelTool/bin/Debug/net6.0
/SplitExcelTool/SplitExcelTool/obj
/SplitExcelTool/SplitExcelTool.IUnitTest/bin/Debug/net6.0
/SplitExcelTool/SplitExcelTool.IUnitTest/obj
/SplitExcelTool/SplitExcelTool.Model/bin/Debug/net6.0
/SplitExcelTool/SplitExcelTool.Model/obj
/SplitExcelTool/SplitExcelTool.Repositories/bin/Debug/net6.0
/SplitExcelTool/SplitExcelTool.Repositories/obj
/SplitExcelTool/SplitExcelTool.Service/bin/Debug/net6.0
/SplitExcelTool/SplitExcelTool.Service/obj
/SplitExcelTool/SplitExcelTool.UnitTests/bin/Debug/net6.0
/SplitExcelTool/SplitExcelTool.UnitTests/obj
/SplitExcelTool/.vs/SplitExcelTool/v17
/SplitExcelTool/.vs/SplitExcelTool/DesignTimeBuild
